<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunbaby.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--<activity-->
            <!--android:name=".ui.activity.RegisterActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|fontScale|fontScale"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />-->
        <activity
            android:name=".ui.activity.ForgetpasswordActivity1"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ForgetpasswordActivity2"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.MyOrderActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ClassificationActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ManageAddressActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.AddNewAddressActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.PersonActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.orderdetail.TwoDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.QuhuoDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ProductDetailsActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.DistributionBoxActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.JoinmemberActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.PayActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.orderdetail.OneDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.orderdetail.ThreeDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.orderdetail.FourDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.JoinmemberActivity2"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.DamageRecordActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.DamageDetailActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.UpdatePaswordActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.UpdatePhoneNumberActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".ui.activity.CanReceiveActivity" />
        <activity
            android:name=".ui.activity.CanNotReceiveActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.FillOrderActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".ui.activity.AllBookActivity" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
    </application>

</manifest>